@import "tailwindcss";

@theme inline {
  --color-brandy: #8a4141;
  --color-uocGold: #b6862d;
  --color-brownCoffee: #492226;
  --font-sans: 'Montserrat', sans-serif;
  --letter-spacing-headline: -0.037em;
  --line-height-brand: 1.2;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

/* Custom Animations */
@keyframes slowZoom {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

.animate-slow-zoom {
  animation: slowZoom 20s infinite alternate ease-in-out;
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-up {
  animation: scale-up 0.3s ease-out;
}
